<:Body>
  <h1>Home</h1>
  <div class="row">
    <div class="col-md-4">
    {{ _users.each do |user| }}
        <div class="contact">
        {{user._name}}
        </div>
    {{ end }}
    </div>
  </div>
